html {
  background: url('../assets/background.png') no-repeat center center fixed;
  
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(5, 14, 92);
  -webkit-text-stroke: 1px rgb(248, 240, 240);
}

h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(8, 1, 1);
  -webkit-text-stroke: 1px rgb(231, 236, 240);
}

#start {
    text-align: center;
    font-size: 30px;
}

#score {
  color: rgb(230, 238, 240);
}


#timer{
    color: white;
}

.grid {
  width: 600px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor:url('../assets/mallet.png'), pointer;
  
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../assets/hole.png") bottom center no-repeat;
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position:absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}




.mole {
  background:url('../assets/mole.png') bottom center no-repeat;
  /*background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;*/
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 0.5s;
  pointer-events:auto;
}

.hole.show .mole {
 top: 0;
 transform: scale(1.1);
}


p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}