html {
  background: url('../assets/background.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: red;
  -webkit-text-stroke: 2px black;
}

h2 {
  text-align: center;
   font-size: 25px;
  color: blueviolet;
  -webkit-text-stroke: 1px black;
}

#start {
    text-align: center;
    font-size: 30px;
   
}

#timer{
    color: white
}

.grid {
  width: 500px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  cursor: url('../assets/mallet.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position:relative;
}

.hole:after {
  display: block;
  background: url("../assets/hole.png") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  background:url('../assets/mole.png') bottom center no-repeat;
  background-size: 70%;
  position:absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: top 0.5s;
    pointer-events:auto;
}

.hole.show .mole {
  top: 0;
   transform: scale(1.1);
}
