html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: scroll;
}

h1 {
  text-align: center;
  font-size: 150px;
  font-family: "Amatic SC", "Comic Sans", cursive;
  color: white;
  -webkit-text-stroke: 5px black;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Special Elite", cursive;
  color: white;
  -webkit-text-stroke: 2px steelblue;
}

button {
    text-align: center;
    font-size: 30px;
    font-family: "Special Elite", cursive;
    border-radius: 15%;
    padding-top: 10px;
}

button:focus {
  background-color: navajowhite;
}

#timer{
  color: white;
  -webkit-text-stroke: 2px steelblue;
}

.menu{
  width: 400px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.menuList{
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex: 1 0 10%;
}

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('/assets/mallet.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}
